{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Email Users</h2>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Use the below form to send emails/updates to all registered users of the FitJacket application.</h4>
      </div>
    </div>
    <form method="POST">
              {% csrf_token %}
              <p>
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" required class="form-control">
              </p>
              <p>
                <label for="message">Message</label>
                  <textarea id="message" type="text" name="message" required class="form-control" rows="5"></textarea>
              </p>
              <div class="text-center">
                <button type="submit" class="btn bg-dark text-white">Send Email</button>
              </div>
            </form>
  </div>
</div>
{% endblock content %}